:host ::ng-deep {
  @media screen and (max-width: 767px) {
    .p-timeline-event-opposite {
      display: none !important;
    }
    
    .p-timeline-event-content {
      padding-left: 1rem !important;
      padding-right: 0 !important;
    }

    .p-card-body {
      padding: 0 !important;
    }
    
    .p-card-content {
      padding: 0.75rem !important;
      word-break: break-word; 
    }
  }
}