@if (statistics.error()) {
  <app-error-load [label]="'statistics'" (retry)="statistics.reload()" />
} @else {
  <div class="grid mt-2 px-3">
    @for (item of statistics.value()?.statistics; track item.id) {
      <div class="col-12 md:col-3">
        <app-card
          [title]="item.title"
          [value]="item.value"
          [icon]="item.icon"
          [color]="item.color"
          [changeLabel]="item.changeLabel"
          [change]="item.change"
        >
        </app-card>
      </div>
    }
  </div>
}
