<header
  class="header-container flex align-items-center justify-content-between px-4 py-2 border-bottom-1 surface-border bg-white"
>
  <div class="flex align-items-center gap-2">
    <div
      class="bg-primary border-round flex align-items-center justify-content-center"
      style="width: 32px; height: 32px"
    >
      <i> <img src="assets/icons/logo.png" alt="" /></i>
    </div>
    <span class="text-xl font-bold text-900">Task Manager</span>
  </div>

  <div class="flex-grow-1 flex justify-content-center">
    <p-iconField iconPosition="left">
      <p-inputIcon class="pi pi-search"> </p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Search tasks..."
        class="w-20rem md:w-30rem border-round-xl border-gray"
      />
    </p-iconField>
  </div>

  <div class="flex align-items-center gap-3">
    <p-button [rounded]="true" [text]="true" severity="secondary">
      <img src="assets/icons/bell.png" width="20" height="20" />
    </p-button>

    <p-avatar label="JD" shape="circle" class="bg-primary text-white font-bold" />
  </div>
</header>
