<div class="flex-grow-1 flex justify-content-center mt-3 px-3">
  <p-iconfield iconPosition="left" class="w-full max-w-30rem">
    <p-inputicon>
      <img src="assets/icons/search.svg" alt="search" class="searchicon" />
    </p-inputicon>

    <input
      type="text"
      pInputText
      placeholder="Search tasks..."
      class="w-full border-round-xl border-gray p-component p-inputtext"
      style="height: 45px"
    />
  </p-iconfield>
</div>
<div class="mt-4">
  <p-tabs [value]="currentTabStatus()" class="pb-0">
    <p-tablist class="mb-4 mx-3 flex">
      <p-tab (click)="onTabChange('all')">
        <div
          class="flex align-items-center gap-2 py-2 px-3 border-round text-xs"
          [class.bg-primary]="showAll()"
        >
          <span>All</span>
        </div>
      </p-tab>

      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
          <div
            class="flex align-items-center gap-2 py-2 px-3 border-round text-xs"
            [class.bg-primary]="!showAll() && currentTabStatus() === tab.value"
          >
            <span>{{ tab.label }}</span>
          </div>
        </p-tab>
      }
      <div class="ml-auto flex align-items-center gap-2">
        <p-select
          [options]="assigneesFilterOptions()"
          placeholder="Assignee"
          optionLabel="name"
          optionValue="id"
          class="w-14rem"
          appendTo="body"
          (onChange)="onAssigneeFilter($event)"
          [showClear]="true"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <p-avatar [label]="selectedOption.avatar" shape="circle" size="normal" />
              <span>{{ selectedOption.name }}</span>
            </div>
          </ng-template>
        </p-select>
        <p-select
          [options]="priorities"
          placeholder="Priority"
          optionLabel="label"
          optionValue="value"
          class="w-12rem"
          appendTo="body"
          (onChange)="onPriorityFilter($event)"
          [showClear]="true"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <span>{{ selectedOption.label }}</span>
            </div>
          </ng-template>
        </p-select>

        <p-button
          label="+ New Task"
          styleClass="py-2 font-semibold text-sm shadow-1 whitespace-nowrap"
          severity="primary"
          (click)="taskModal.showDialog()"
        />
      </div>
    </p-tablist>

    <p-tabpanels class="bg-gray-50">
      @if (taskService.taskData.error()) {
        <app-error-load [label]="'Tasks'" (retry)="taskService.taskData.reload()" />
      } @else {
        @if (showAll()) {
          @if (taskService.filteredTasks().length === 0) {
            <div class="text-center p-5 text-500">
              <p>No tasks found for this category or priority.</p>
            </div>
          } @else {
            <div class="grid mt-2 px-3 bg-white border-round">
              @for (status of tabs; track status) {
                <div class="col-12 md:col-4">
                  <div
                    class="column-header flex align-items-center justify-content-between  px-1 border-bottom-1 surface-border"
                  >
                    <span class="font-bold text-700 uppercase tracking-wider text-xs mt-3 ">{{
                      status.label | titlecase
                    }}</span>
                    <span class="count-badge text-xs">{{
                      allTaskData()[status.value].length
                    }}</span>
                  </div>
                  <app-cards-list
                    [tasks]="allTaskData()[status.value]"
                    (edit)="taskModal.openEdit($event)"
                    (delete)="confirmDelete($event)"
                  />
                </div>
              }
            </div>
          }
        } @else {
          @if (allTaskData()[currentTabStatus()].length === 0) {
            <div class="text-center p-5 text-500">
              <p>No tasks found for this category or priority.</p>
            </div>
          } @else {
            <div class="p-3 bg-white border-round">
              <div
                class="column-header flex align-items-center justify-content-between mb-3 px-1 border-bottom-1 surface-border"
              >
                <span class="font-bold text-700 uppercase tracking-wider text-xs mt-3 mb-2">{{
                  tabsLookup[currentTabStatus()]?.label | titlecase
                }}</span>
                <span class="count-badge text-xs">{{
                  allTaskData()[currentTabStatus()].length
                }}</span>
              </div>
              <app-cards-list
                [tasks]="allTaskData()[currentTabStatus()]"
                (edit)="taskModal.openEdit($event)"
                (delete)="confirmDelete($event)"
              />
            </div>
          }
        }
      }
    </p-tabpanels>
  </p-tabs>
</div>

<app-task-form
  #taskModal
  (taskAdded)="handleAddTask($event)"
  (taskEdited)="handleEditTask($event)"
/>
<p-confirmDialog />
<p-toast />
