<aside
  class="sidebar h-screen flex flex-column justify-content-between py-4 border-right-1 surface-border bg-white w-16rem"
>
  <div class="flex flex-column gap-1 px-3">
    @for (item of menuItems; track item.id) {
      <div
        (click)="selectTab(item.id)"
        class="flex align-items-center gap-3 px-3 py-2 border-round cursor-pointer transition-colors transition-duration-200"
        [ngClass]="
          activeTab() === item.id
            ? 'bg-primary text-primary-contrast shadow-2'
            : 'text-600 hover:surface-100'
        "
      >
        <span>
          <img [src]="item.icon" alt="" />
        </span>
        <span class="font-medium">{{ item.label }}</span>
      </div>
    }
    <div class="mt-4">
      <p-button
        label="+ New Task"
        styleClass="w-full py-2 font-semibold text-sm shadow-1"
        severity="primary"
        (click)="taskModal.showDialog()"
      >
      </p-button>
    </div>
  </div>
</aside>

<app-task-form #taskModal (taskSaved)="onHandleNewTask($event)" />