<aside
  class="sidebar h-screen flex flex-column justify-content-between py-4 border-right-1 surface-border bg-white w-16rem"
>
  <div class="flex flex-column gap-1 px-3">
    @for (item of menuItems; track item.id) {
      <a
        class="flex align-items-center gap-3 px-3 py-2 border-round cursor-pointer no-underline transition-colors transition-duration-200 text-color-secondary"
        [routerLink]="item.id"
        routerLinkActive="bg-primary text-white shadow-md active-tab"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>
          <img [src]="item.icon" alt="" />
        </span>
        <span class="font-medium">{{ item.label }}</span>
      </a>
    }
    <div class="mt-4">
      <p-button
        label="+ New Task"
        styleClass="w-full py-2 font-semibold text-sm shadow-1"
        severity="primary"
        (click)="taskModal.showDialog()"
      >
      </p-button>
    </div>
  </div>
</aside>

<app-task-form #taskModal (taskAdded)="handleAddTask($event)" />