<p-card class="m-2">
  <h3 class="text-primary text-700">Task Analytics</h3>
  <div class="flex justify-content-center flex-wrap m-5">
    <div class="text-center col-12 md:col-6">
      @if (chartData()) {
        <h5 class="text-700">By Priority</h5>
        <app-chart [type]="'doughnut'" [data]="chartData()"></app-chart>
      } @else {
        <div class="absolute text-center">
          <span class="text-600 font-bold block text-xl">0</span>
          <span class="text-400 text-xs">Tasks Found</span>
        </div>
      }
    </div>
    <div class="text-center col-12 lg:col-6">
      @if (statusChartData()) {
        <h5 class="text-700">By Status</h5>
        <app-chart [type]="'doughnut'" [data]="statusChartData()"></app-chart>
      } @else {
        <div class="absolute text-center">
          <span class="text-600 font-bold block text-xl">0</span>
          <span class="text-400 text-xs">Tasks Found</span>
        </div>
      }
    </div>
  </div>
</p-card>
