@use 'colors' as *;
@import "primeflex/primeflex.css";

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden; 
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;   
  min-width: 0;       
}
.medium-icon {
  color: $color-orange; 
}

.high-icon {
  color: $color-red;
}

.low-icon {
  color: $color-green;
}

.light-red-icon {
  color: $color-light-red;
}

@layer primeng {
    .p-tablist-active-bar {
        display: none !important;
    }
    
    .p-tablist-tab-list {
        border-bottom: none !important;
    }
}

body .p-tablist-active-bar {
    display: none !important;
    height: 0 !important;
}

div::-webkit-scrollbar {
  width: 6px;
}
div::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
.active-tab {
  color: #ffffff !important;
}