@use 'colors' as *;
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.medium-icon {
  color: $color-orange; 
}

.high-icon {
  color: $color-red;
}

.low-icon {
  color: $color-green;
}

.light-red-icon {
  color: $color-light-red;
}

@layer primeng {
    .p-tablist-active-bar {
        display: none !important;
    }
    
    .p-tablist-tab-list {
        border-bottom: none !important;
    }
}

body .p-tablist-active-bar {
    display: none !important;
    height: 0 !important;
}